
.container {
  display: flex;
  flex-direction: column;
}

.contentBox {
  padding: 0 20px;
  order: 1;
  max-width: 739px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.sidebarBox {
  order: 2;
}

.logotype {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 47px;
  padding-left: 25px;
  font-weight: 500;
  font-size: 18px;
}

.upperBox {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 14px;
}

.bottomBox {
  border-radius: 10px;
  background-color: #e6e6e6;
  padding: 10px 12px;
}


@media (min-width: 676px) {
  .upperBox {
    flex-flow: row nowrap;
    gap: 40px;
  }
}


@media (min-width: 1025px) {
  .container {
    flex-direction: row;
    padding-left: 40px;
  }
  .contentBox {
    order: 2;
    flex: 1 1 auto;
    max-width: 850px;
  }
  .sidebarBox {
    order: 1;
    flex: 0 1 200px;
  }
  .logotype {
    height: 100px;
    padding-left: 25px;
    font-size: 26px;
    padding-left: 50px;
  }


  .upperBox {
    margin-bottom: 28px;
  }

}

@media (min-width: 1240px) {
  .container {
    max-width: 1240px;
    margin: 0 auto;
  }
  .logotype {
    max-width: 1240px;
    height: 140px;
    font-size: 32px;
    margin: 0 auto;
  }
}



.title {
  font-size: 32px;
}

.pghp {
  margin-bottom: 30px;
  letter-spacing: .055em;
  font-size: 16px;
  border-radius: 10px;
  border-bottom: 2px solid gray;
  border-right: 2px solid lightgray;
  padding: 3px 5px;

  &:first-letter {
    padding-left: 12.777px;
  }
}

.emphasize {
  background: #000000a3;
  color: #cacaca;
  padding: 1.5px 4px;
  border-radius: 4px;

  &:hover {
    background: #000000af;
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

@media (min-width: 1025px) {
  .pghp {
    font-size: 18px;
  }
}
@media (min-width: 1225px) {
  .pghp {
    font-size: 20px;
  }
}