@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.logo-link {
  transition: .2s;

  &:hover {
    color: #4199dc;
    filter: drop-shadow(0px 0px 10px #00000028);
  }
}


/* modal */
.modal-wrapper {
  display: none;
}

.modal-wrapper.active {
  display: flex;
}
